.search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input-area {
  border-radius: 10px;
  height: 35px;
  width: 400px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 2px solid rgb(133, 133, 133);
}
